.root {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-color: #686868;
}

.nav {
  padding: 1rem;
  border-bottom: 1px solid var(--mantine-color-dark-4);
  background-color: var(--mantine-color-dark-8);
}

.navTitle {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--mantine-color-dark-0);
}

.content {
  display: flex;
  flex: 1;
  min-height: 0;
}

.sceneWrapper {
  flex: 1;
  min-width: 0;
}
