@import "@mantine/core/styles.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Consolas, monospace;
}

#root {
  width: 100dvw;
  height: 100dvh;
  display: flex;
}
